page-home {

.card-background-page {

  .header {
  	font: bold 18px Roboto;
   	background: color($colors, light);
   	color: color($colors, dark);
   	padding: 1.5% 1%;
  }

  ion-card {
    position: relative;
    text-align: center;
    cursor: pointer;
  }

  .card-title {
  	font: 15px Roboto;
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: #fff;
    background: color($colors, medium-grey);
    padding: 2%;
  }

  ion-card:hover > .card-title {
    padding: 3%;
  }

}


}
